@charset "UTF-8";
/******************************************************************************/
/************************************* VARIABLES ******************************/
/******************************************************************************/
/******************************************************************************/
/*************************************** RESET ********************************/
/******************************************************************************/
.js, .fontawesome-i2svg-active, .fontawesome-i2svg-complete {
  margin-top: 0 !important; }

html {
  display: flex;
  flex-direction: column; }

/* IE fix */
body {
  color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-content: space-between !important;
  font-family: 'Muli', sans-serif;
  background: #519af0;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #519af0 0%, #f679e7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #519af0 0%, #f679e7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #519af0 0%, #f679e7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#519af0', endColorstr='#f679e7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.wrapper {
  flex: 1 1 auto;
  /* occupe la hauteur restante */
  display: flex;
  /* crée un contexte flex pour ses enfants */
  flex-direction: column;
  /* affichage vertical */
  height: 100%;
  justify-content: space-between; }

a, a:hover, a:visited, a:focus, a:active {
  color: #6AC8EE; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: #fff !important;
  font-weight: 600 !important;
  padding: 10px;
  margin: 0;
  background-color: #6AC8EE;
  font-size: 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: .6em 1em .4em;
  border: 0; }

.menu-login {
  list-style: none; }
  .menu-login .btn-login {
    background-color: transparent !important;
    position: absolute;
    right: 20px;
    text-transform: uppercase; }

/******************************************************************************/
/****************************************** HOME ******************************/
/******************************************************************************/
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh; }
  #home #title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 4em; }

.top-bar, .top-bar ul {
  background-color: transparent; }
  .top-bar li a, .top-bar ul li a {
    color: #fff;
    font-weight: 600; }

/******************************************************************************/
/******************************* LOGIN FORM ***********************************/
/******************************************************************************/
.block-revealer__content {
  background: #fff;
  text-align: center; }

#login-form a {
  color: #6AC8EE;
  text-align: center !important;
  font-size: 0.8em;
  font-weight: 600; }

#user-login {
  margin-bottom: 0 !important; }

.modal__inner {
  text-align: center; }
  .modal__inner input {
    width: 100% !important;
    height: 40px;
    margin-bottom: 20px; }
  .modal__inner .legend {
    font-size: 0.8em;
    display: inline-block; }
  .modal__inner input[type=submit] {
    padding: 4%;
    font-weight: 300 !important; }
  .modal__inner .btn--modal-register {
    background-color: #fff !important;
    color: #6AC8EE !important;
    font-size: 0.8em;
    display: inline-block; }
  .modal__inner .btn--modal-close {
    background-color: #fff !important;
    color: #6AC8EE !important;
    border: 1px solid #6AC8EE;
    display: block;
    float: none;
    width: 100%;
    padding: 4%;
    font-weight: 300 !important; }

.button:hover {
  background-color: #fff !important;
  color: #6AC8EE !important;
  border: 1px solid #6AC8EE; }

#open-register:hover {
  cursor: pointer; }

/******************************************************************************/
/************************************** Error Page ****************************/
/******************************************************************************/
/* Not Found */
.not-found {
  text-align: center; }
  .not-found .page-title {
    font-size: 12em;
    font-weight: 700;
    color: #6AC8EE;
    margin-bottom: 0; }
  .not-found h5 {
    font-size: 2.4em;
    letter-spacing: 2px;
    font-weight: 600; }
  .not-found span, .not-found p {
    font-size: 1.4em;
    padding-bottom: 40px; }
  .not-found .back-to-home {
    float: none;
    width: 12%;
    margin: auto; }

/******************************************************************************/
/************************************** FOOTER ********************************/
/******************************************************************************/
/******************************************************************************/
/************************************** RESPONSIVE ****************************/
/******************************************************************************/

/*# sourceMappingURL=style.css.map */
