@charset "UTF-8";
/******************************************************************************/
/************************************* VARIABLES ******************************/
/******************************************************************************/
/******************************************************************************/
/*************************************** RESET ********************************/
/******************************************************************************/
.js, .fontawesome-i2svg-active, .fontawesome-i2svg-complete {
  margin-top: 0 !important; }

html {
  display: flex;
  flex-direction: column; }

/* IE fix */
body {
  color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-content: space-between !important;
  font-family: 'Muli', sans-serif;
  background: #519af0;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #519af0 0%, #f679e7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #519af0 0%, #f679e7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #519af0 0%, #f679e7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#519af0', endColorstr='$pink',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.wrapper {
  flex: 1 1 auto;
  /* occupe la hauteur restante */
  display: flex;
  /* crée un contexte flex pour ses enfants */
  flex-direction: column;
  /* affichage vertical */
  height: 100%;
  justify-content: space-between; }

a, a:hover, a:visited, a:focus, a:active {
  color: #6AC8EE; }

.submit {
  color: #fff !important;
  font-weight: 600 !important;
  padding: 10px;
  margin: 0;
  background-color: #6AC8EE;
  font-size: 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: .6em .4em;
  border: 0; }

.menu-login {
  list-style: none;
  padding: 20px; }
  .menu-login .clear {
    background-color: transparent !important;
    position: absolute;
    right: 20px;
    top: 20px;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #fff !important;
    border: 0 !important; }

.top-bar {
  padding: 20px 40px; }

/******************************************************************************/
/*************************************** CONTENT ******************************/
/******************************************************************************/
h1 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 6em; }

.top-bar, .top-bar ul {
  background-color: transparent; }
  .top-bar li a, .top-bar ul li a {
    color: #fff;
    font-weight: 600; }

table tr td {
  color: #252525 !important; }

#center-container, #form_maint {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 40px;
  padding: 40px 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.35); }
  #center-container form, #center-container #update-form, #form_maint form, #form_maint #update-form {
    width: 100%; }
    #center-container form .grid-x, #center-container #update-form .grid-x, #form_maint form .grid-x, #form_maint #update-form .grid-x {
      display: flex;
      justify-content: space-between; }
      #center-container form .grid-x .cell, #center-container #update-form .grid-x .cell, #form_maint form .grid-x .cell, #form_maint #update-form .grid-x .cell {
        padding: 0; }
    #center-container form label, #center-container #update-form label, #form_maint form label, #form_maint #update-form label {
      color: #fff !important; }
    #center-container form input[type="text"], #center-container #update-form input[type="text"], #form_maint form input[type="text"], #form_maint #update-form input[type="text"] {
      border-radius: 8px;
      border: 0; }
    #center-container form input[type="radio"], #center-container #update-form input[type="radio"], #form_maint form input[type="radio"], #form_maint #update-form input[type="radio"] {
      position: relative;
      top: -2px;
      margin-right: 10px !important; }
    #center-container form .data_rech, #center-container #update-form .data_rech, #form_maint form .data_rech, #form_maint #update-form .data_rech {
      display: inline-block;
      width: 48%;
      padding: 0; }
      #center-container form .data_rech label, #center-container #update-form .data_rech label, #form_maint form .data_rech label, #form_maint #update-form .data_rech label {
        margin-bottom: 10px; }
    #center-container form .button, #center-container form input[type="submit"], #center-container #update-form .button, #center-container #update-form input[type="submit"], #form_maint form .button, #form_maint form input[type="submit"], #form_maint #update-form .button, #form_maint #update-form input[type="submit"] {
      color: #fff !important;
      font-weight: 700 !important;
      text-transform: uppercase;
      background-color: transparent !important;
      margin: 5px 0;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #fff;
      width: 100%;
      height: 40px; }
  #center-container #update-form input[type="submit"], #form_maint #update-form input[type="submit"] {
    width: 48%;
    background-color: transparent !important;
    padding: 0; }

/******************************************************************************/
/******************************* LOGIN FORM ***********************************/
/******************************************************************************/
.block-revealer__content {
  background: #fff;
  text-align: center; }

#login-form a {
  color: #6AC8EE;
  text-align: center !important;
  font-size: 0.8em;
  font-weight: 600; }

#user-login {
  margin-bottom: 0 !important; }

.modal__inner {
  text-align: center; }
  .modal__inner input {
    width: 100% !important;
    height: 40px;
    margin-bottom: 20px; }
  .modal__inner .legend {
    font-size: 0.8em;
    display: inline-block; }
  .modal__inner input[type=submit] {
    padding: 4%;
    font-weight: 300 !important; }
  .modal__inner .btn--modal-register {
    background-color: #fff !important;
    color: #6AC8EE !important;
    font-size: 0.8em;
    display: inline-block; }
  .modal__inner .btn--modal-close {
    background-color: #fff !important;
    color: #6AC8EE !important;
    border: 1px solid #6AC8EE;
    display: block;
    float: none;
    width: 100%;
    padding: 4%;
    font-weight: 300 !important; }

.button:hover {
  background-color: #fff !important;
  color: #6AC8EE !important;
  border: 1px solid #6AC8EE; }

#open-register:hover {
  cursor: pointer; }

#login-form .form-icons, #register-user .form-icons {
  text-align: center; }
  #login-form .form-icons h4, #register-user .form-icons h4 {
    margin-bottom: 1rem; }
  #login-form .form-icons .input-group-label, #register-user .form-icons .input-group-label {
    background-color: #6AC8EE;
    border-color: #6AC8EE;
    height: 40px; }
  #login-form .form-icons .input-group-field, #register-user .form-icons .input-group-field {
    border-color: #6AC8EE; }
  #login-form .form-icons .fa, #register-user .form-icons .fa {
    color: white;
    width: 1rem; }

/******************************************************************************/
/************************************** RESPONSIVE ****************************/
/******************************************************************************/
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 4em; }

  .top-bar {
    padding: 5px; }
    .top-bar h5 {
      display: none; }
    .top-bar ul {
      padding: 4px;
      display: flex;
      justify-content: space-between; }
      .top-bar ul li {
        font-size: 0.9em; } }
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.4em; } }

/*# sourceMappingURL=style.css.map */
