/******************************************************************************/
/************************************* VARIABLES ******************************/
/******************************************************************************/
$primary: #6AC8EE;
$secondary: #519af0;
$pink: #f679e7;
$white: #fff;
$dark-grey: #252525;
$clear: rgba($white, 0.2);

/******************************************************************************/
/*************************************** RESET ********************************/
/******************************************************************************/

.js, .fontawesome-i2svg-active, .fontawesome-i2svg-complete {
    margin-top: 0 !important;
}
html {display: flex; flex-direction: column;} /* IE fix */
body {
    color: $white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-content: space-between !important;
    font-family: 'Muli', sans-serif;
    background: #519af0; /* Old browsers */
    background: -moz-linear-gradient(45deg, #519af0 0%, $pink 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #519af0 0%,$pink 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #519af0 0%,$pink 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#519af0', endColorstr='$pink',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.wrapper {
    flex: 1 1 auto; /* occupe la hauteur restante */
    display: flex; /* crée un contexte flex pour ses enfants */
    flex-direction: column; /* affichage vertical */
    height: 100%;
    justify-content: space-between;
}
a, a:hover, a:visited, a:focus, a:active {
    color: $primary;
}
.submit {
    color: $white !important;
    font-weight: 600 !important;
    padding: 10px;
    margin: 0;
    background-color: $primary;
    font-size: 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: .6em .4em;
    border: 0;
}
.menu-login {
    list-style: none;
    padding: 20px;
    .clear {
        background-color: transparent !important;
        position: absolute;
        right: 20px;
        top: 20px;
        text-transform: uppercase;
        padding: 5px 20px;
        color: $white !important;
        border: 0 !important;
    }
}
.top-bar {
    padding: 20px 40px;
}

/******************************************************************************/
/*************************************** CONTENT ******************************/
/******************************************************************************/
h1 {
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-size: 6em;
}
.top-bar, .top-bar ul {
    background-color: transparent;
    li {
        a {
            color: $white;
            font-weight: 600;
        }
    }
}
table {
    tr {
        td {
            color: #252525 !important;
        }
    }
}
.wrapper > .grid-x {
    background-color: $clear;
    margin: 40px;
    padding: 40px 10px;
    border-radius: 8px;
    border: 1px solid rgba($white, 0.35);
    #visu-form, #update-form {
        // width: 100%;
        .grid-x {
            // display: flex;
            // justify-content: space-between;
            .cell {
                padding: 0;
            }
        }
        label {
            color: $white !important;
        }
        .middle {
            margin-bottom: 0 !important;
        }
        input[type="text"] {
            border-radius: 8px;
            border: 0;
        }
        input[type="radio"] {
            position: relative;
            top: -2px;
            margin-right: 10px !important;
        }
        .data_rech {
            display: inline-block;
            width: 48%;
            padding: 0;
            label {
                margin-bottom: 0;
            }
        }
        .button, input[type="submit"] {
            color: $white !important;
            font-weight: 700 !important;
            text-transform: uppercase;
            background-color: transparent !important;
            margin: 5px 0;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid $white;
            width: 100%;
            height: 40px;
        }
    }
    #update-form {
        #intro {
            width: 100%;
        }
        #name-research {
            label {
                margin-bottom: 5px;
            }
            #data_rech {
                display: inline-block;
                width: 48%;
            }
            input[type="submit"] {
                width: 100%;
                margin-left: 2.5%;
                background-color: transparent !important;
                padding: 0;
                display: inline-block;
                width: 48%;
            }
        }
    }
    #table-container {
        overflow: scroll;
    }
}

/******************************************************************************/
/******************************* LOGIN FORM ***********************************/
/******************************************************************************/

.block-revealer__content {
    background: #fff;
    text-align: center;
}
#login-form a {
    color: $primary;
    text-align: center !important;
    font-size: 0.8em;
    font-weight: 600;
}
#user-login {
    margin-bottom: 0 !important;
}
.modal__inner {
    text-align: center;
    input {
        width: 100% !important;
        height: 40px;
        margin-bottom: 20px;
    }
    .legend {
        font-size: 0.8em;
        display: inline-block;
    }
    input[type=submit] {
        padding: 4%;
        font-weight: 300 !important;
    }
    .btn--modal-register {
        background-color: $white !important;
        color: $primary !important;
        font-size: 0.8em;
        display: inline-block;
    }
    .btn--modal-close {
        background-color: $white !important;
        color: $primary !important;
        border: 1px solid $primary;
        display: block;
        float: none;
        width: 100%;
        padding: 4%;
        font-weight: 300 !important;
    }
}
.button:hover {
    background-color: $white !important;
    color: $primary !important;
    border: 1px solid $primary;
}
#open-register:hover {
    cursor: pointer;
}

#login-form, #register-user {
    .form-icons {
      text-align: center;
  
        h4 {
            margin-bottom: 1rem;
        }
    
        .input-group-label {
            background-color: $primary;
            border-color: $primary;
            height: 40px;
        }
    
        .input-group-field {
            border-color: $primary;
        }
    
        .fa {
            color: white;
            width: 1rem; // makes the width of icon labels equal
        }
    }
}
.editlink {
    background-color: $secondary;
    color: $white;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 4px;
}
.editlink:hover {
    color: $white;
    background-color: rgba($secondary, 0.8);
}
  

/******************************************************************************/
/************************************** RESPONSIVE ****************************/
/******************************************************************************/
@media only screen and (max-width: 1080px) {
    .medium-8 {
        width: 100% !important;
    }
}
@media only screen and (max-width: 767px) {
    .cell, input[type="text"] {
        width: 100% !important;
        margin: 0 !important;
    }
    input[type="submit"]:not(#logout) {
        margin: 20px 0 !important;
        width: 100% !important;
    }
    h1 {
        font-size: 4em;
    }
    .top-bar {
        padding: 5px;
        h5 {
            display: none;
        }
        ul {
            padding: 4px;
            display: flex;
            justify-content: space-between;
            li {
                font-size: 0.9em;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .modal-register, .modal-login {
        width: 100%;
        height: 100%;
        .block-revealer__content {
            height: 100%;
        }
    }
    #close-register, #close-login {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .fa-times {
        color: $primary;
    }
    .logout, .btn-login {
        position: absolute;
        top: 10px !important;
        right: 8px !important;
    }
    .menu-login {
        padding: 10px !important;
    }
    h1 {
        font-size: 2.4em;
    }
    .input-group-field {
        margin: 0!important;
    }
    .wrapper > .grid-x {
        width: 100%;
        background-color: transparent;
        border: 0;
        margin: 0 !important;
        .cell {
            margin: 2px !important;
        }
        .text-center {
            text-align: left !important;
            padding-bottom: 0 !important;
        }
    }
}

